* {
  padding: 0;
  margin: 0;
}
body {
    background-color: black;
}
/*aqui comienza mis estilos para el navba*/

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 4%;
    background-color: black;
    text-decoration: none;
   
}

nav ul {
    display: flex;
    padding: 0;
    margin: 0;
    text-decoration: none;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

nav ul li>a {
    display: block;
    position: relative;
    padding: 20px 15px 10px;
    text-decoration: none;

    color: white;
}

nav ul li .link::before {
    content: "";
    position: absolute;
    display: block;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 2px;
    transform: scaleX(0);
    transition: transform 0.3s ease;

    background-color: white;
}

nav ul li .link:hover::before {
    transform: scaleX(1);
}

/*aqui comienza mis estilos para el inicio con la biblioteca lax*/
.inicio {
    background-color: black;
    overflow-x: hidden;
    font-family:Verdana, Geneva, Tahoma, sans-serif; }


.logo {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    z-index: 100;
    height: 80vh;
    width: 100%;
}

.principal {
    display: flex;
    width: 100%;
    align-items: center;
    height: 110vh;
}

.nombre {
    color: white;
    text-align: center;
    font-weight: bolder;
    font-size: 20px;
}
/*aqui comienzan los estilos de la seccion del banner y el texto encima del banner*/
h1 {
    font-size: 3.3rem;
    display: inline-block;
    padding: 0;
    margin: 0;
    margin-bottom: 40px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.cover {
    background-image: url(../img/banner-04.jpg);
    background-size: cover;
    background-position: center;
    height: 46rem;
}

h1::before {
    content: "";
    width: 100%;
    height: 50px;
    bottom: -40px;
    left: 0;

    transform: scale(0.4) skewY(-20deg) rotate(20deg);

    background-color: white;
}

#banner {
    font-size: 1.6em;
    text-align: center;
    padding: 40px;
    top: 165%;
    width: 500px;
    right: 100px;
    color: white;
    background-color: rgba(0, 0, 0, 0.5);
    position: absolute;
    z-index: 100;
    font-family:Verdana, Geneva, Tahoma, sans-serif ;
}

.botton-banner {
    text-transform: uppercase;
    border: 0;
    display: inline-flex;
    align-items: center;
    font-size: 14px;
    padding: 10px 40px;
    background-color: rgb(117, 10, 10);
    color: blue;
    font-weight: bolder;
    text-decoration: none;
    position: relative;
    border: 20%;
}

.botton-banner:hover {
    background-color: rgb(231, 102, 102);
}

.botton-banner {
    text-transform: uppercase;
    border: 0;
    display: inline-flex;
    align-items: center;
    font-size: 16px;
    padding: 10px 15px;
    color: white;
    font-weight: bolder;
    text-decoration: none;
}

.botton-banner::before {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 2px;
    transform: scaleX(0);
    transition: transform 0.3s ease;

    background-color: rgb(25, 25, 156);
}

.botton-banner:hover::before {
    transform: scaleX(0.8);
}
/*aqui comienzan mis estilos para la tercera seccion donde salen los juegos*/


#container{
  display: grid;
  align-content: center;
  text-align: center;
  
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
}
.contenedor{
  
  background-color: #000000;
}
.tarjeta{
  color: white;
  overflow: hidden;
  border: 2px solid rgba(255, 255, 255, 0.61);
      font-family: Verdana, Geneva, Tahoma, sans-serif;
      color: white;
      font-size: 40px;
      letter-spacing: 10px;
      font-weight: 1000;
      text-align: center;
      margin-left: 10vw;
      margin-right: 10vw;
      margin-top: 2vh;
      padding: 5vh 5vh;
}
  .form-select {
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 6px;
    color: rgba(0, 0, 0, 0.5);
    width: 10%;
    border-radius: 2rem;
    border: 2px solid rgb(102, 21, 21);
  }
.titulo {
  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  color: white;
  font-size: 50px;
  letter-spacing: 35px;
  padding: 6vh 0vh;
  font-weight: 1000;
  text-align: center;
  background-color:#000000;
}



.articulo {
  padding: 20%;
  position:relative;
  bottom: 0;
  z-index: 1;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  -ms-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.name{
  color: #fff;
  font-weight: 800;
  border-bottom: #fff solid 1px;
  font-size: 20px;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.year {
  font-weight: 300;
  color: #fff;
  font-size: 20px;
  letter-spacing: 10px;
}

.img {
  height:350px;
  width: auto;
  align-content: center;
  text-align: center;
  -webkit-transition: all 4s ease;
  -moz-transition: all 4s ease;
  -o-transition: all 4s ease;
  -ms-transition: all 4s ease;
  transition: all 4s ease;
}

/*hovers*/

.juegos:hover {
  cursor: pointer;
}

.img:hover {
  opacity: 0.2;
  transform: scale(1.5);
}


 /*logo de spiderman*/
  .iconoSpiderman {
    color: rgb(125, 13, 13);
    font-size: 40px;
    position: fixed;
    right: 2vw;
    bottom: 12vh;
  }
  /*aqui comienzan mis estilos para la seccion donde salen los videos*/
.w-75 {
  width: 75%;
  margin: 0 auto;
  font-size: 13px;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  
}

.titulo-videos {
  font-size: 3.6em;
  padding-top: 50px;
font-size: 50px;
  color: white;
  font-weight: bold;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.titulo-videos2 {
  font-size: 1.6em;
  padding-top: 50px;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  color: white;
}
#videos {
  text-align: center;
  padding: 30px 0;
background-color: white;
  background-image: url(../img/spiderman-en-la-ciudad-4875.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  color: white;

}

#videos #slider #controls {
  display: flex;
  justify-content: center;
}

#videos #slider #controls #prev,
#videos #slider #controls #next {
  border: none;
  height: 50px;
  width: 60px;
  background-color: rgb(161, 25, 25);
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.2s ease;
}
#videos #slider #controls #prev:hover,
#videos #slider #controls #next:hover{
  background-color: rgb(214, 98, 98);
}
#videos #slider #current {
  width: 100%;
  height: auto;
  margin: 180px auto;

}
#videos #slider #videos-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr ;
  grid-template-rows: 1fr 1fr 1fr;
  gap: 10px;
  width:100%;
  justify-content: center;
  overflow: auto;
}

#videos #slider #videos-container .item {
  cursor: pointer;
  overflow: hidden;

  min-width: 2px;
  height: 180px;
}

#videos #slider #videos-container .item a {
  position: relative;
}

#videos #slider #videos-container .item img {
  object-fit: contain;
  min-width: 55px;
  height: 180px;
  transition: opacity 0.3s ease;
}

#videos #slider #videos-container .item:hover img {
  opacity: 0.6;
  object-fit: contain;
}

#videos #slider #videos-container .item a::before {
  font-family: "Material Icons";
  font-size: 24px;
  content: "play_arrow";
  color: white;
  position: absolute;
  display: block;
  left: 135px;
  top: -15px;
  width: 50px;
  height: 50px;
  background-color: black;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 100;
}
