* {
  padding: 0;
  margin: 0;
}
body {
    background-color: black;
}
/*aqui comienza mis estilos para el navba*/

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 4%;
    background-color: black;
    text-decoration: none;
}

nav ul {
    display: flex;
    list-style: none;
    padding: 0;
    margin: 0;
    text-decoration: none;
}

nav ul li>a {
    display: block;
    position: relative;
    padding: 20px 15px 10px;
    text-decoration: none;

    color: white;
}

nav ul li .link::before {
    content: "";
    position: absolute;
    display: block;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 2px;
    transform: scaleX(0);
    transition: transform 0.3s ease;

    background-color: white;
}

nav ul li .link:hover::before {
    transform: scaleX(1);
}

/*aqui comienza mis estilos para el inicio con la biblioteca lax*/
.inicio {
    background-color: black;
    overflow-x: hidden;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.logo {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    z-index: 100;
    height: 80vh;
    width: 100%;
}

.principal {
    display: flex;
    width: 100%;
    align-items: center;
    height: 110vh;
}

.nombre {
    color: white;
    text-align: center;
    font-weight: bolder;
    font-size: 20px;
}
/*aqui comienzan los estilos de la seccion del banner y el texto encima del banner*/
h1 {
    font-size: 3.3rem;
    display: inline-block;
    padding: 0;
    margin: 0;
    margin-bottom: 40px;
}

.cover {
    background-image: url(../img/banner-04.jpg);
    background-size: cover;
    background-position: center;
    height: 46rem;
}

h1::before {
    content: "";
    width: 100%;
    height: 50px;
    bottom: -40px;
    left: 0;

    transform: scale(0.4) skewY(-20deg) rotate(20deg);

    background-color: white;
}

#banner {
    font-size: 1.8em;
    text-align: center;
    padding: 40px;
    top: 165%;
    width: 500px;
    right: 100px;
    color: white;
    background-color: rgba(0, 0, 0, 0.5);
    position: absolute;
    z-index: 100;
}

.botton-banner {
    text-transform: uppercase;
    border: 0;
    display: inline-flex;
    align-items: center;
    font-size: 14px;
    padding: 10px 40px;
    background-color: rgb(117, 10, 10);
    color: blue;
    font-weight: bolder;
    text-decoration: none;
    position: relative;
    border: 20%;
}

.botton-banner:hover {
    background-color: rgb(231, 102, 102);
}

.botton-banner {
    text-transform: uppercase;
    border: 0;
    display: inline-flex;
    align-items: center;
    font-size: 16px;
    padding: 10px 15px;
    color: white;
    font-weight: bolder;
    text-decoration: none;
}

.botton-banner::before {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 2px;
    transform: scaleX(0);
    transition: transform 0.3s ease;

    background-color: rgb(25, 25, 156);
}

.botton-banner:hover::before {
    transform: scaleX(0.8);
}
/*aqui comienzan mis estilos para la tercera seccion donde salen los juegos*/
  .titulo {
  font-family: Rubik;
  color: black;
  font-size: 40px;
  letter-spacing: 9px;
  padding: 8vh 0vh;
  font-weight: 1000;
  text-align:center;
}


.contenedor, .games {
  margin-left: 10vw;
  margin-right: 10vw;
  margin-top: 5vh;
  width: auto;
  height: 100%;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  -ms-grid-rows: 1fr;
      grid-template-rows: 1fr;
}

 .tarjeta {
  text-align: center;
  color: black;
  overflow: hidden;
  border: 2px solid lightgray;

}

 .img {
  height: 350px;
  width: auto;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
}


.divC1 {
  display: none;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  height: auto;
}


.form-select {
  font-family: "Rubik", sans-serif;
  font-size: 15px;
  color: black;
  width: 50%;
  border-radius: 2rem;
  border: 2px solid #000000;
}
.btn {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #000000;
  position: relative;
  text-decoration: none;
  font-weight: 400;
  text-align: center;
  border: 0;
  cursor: pointer;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  text-transform: uppercase;
  background: none;
  white-space: normal;
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
}

.contenedor .tarjeta .divC1 .btn-primary {
  display: block;
  margin: 0 auto;
  padding: 1vh 0vw;
  font-size: 14px;
  border-radius: 0rem;
  border-bottom: 3px solid #000000;
}

.contenedor .tarjeta .divC1 .btn-primary:hover {
  background-size: 200% 200%;
  background-image: -webkit-gradient (linear, left bottom, left top, color-stop(100%, #000000), to(transparent));
  background-image: linear-gradient(to top, #000000 100%, transparent 100%);
  color: black;
  border-bottom: 3px solid #000000;
  -webkit-transition: all 0.09s ease-in;
  transition: all 0.09s ease-in;
}

.contenedor .tarjeta .divC1 .btn-small {
  width: 40%;
  display:inline-block;
  letter-spacing: 2px;
}

.contenedor .tarjeta .divC1 .col-8 {
  max-width: 66.666667%;
}

.contenedor .tarjeta .divC1 .mb-2 {
  margin: 2rem 0rem;
}

.nombre-game {
  margin-top: 2vh;
  font-family: "Rubik", sans-serif;
  font-size: 5px;
  color: black;
  text-align: center;
}

.contenedor .tarjeta .year {
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-size: 15px;
  color: black;
  font-weight: 800;
}
  .iconoSpiderman {
    color: rgb(125, 13, 13);
    font-size: 40px;
    position: fixed;
    right: 2vw;
    bottom: 12vh;
  }
  #sipnosis {
    display: none;
  }